:root {
  --black-color-one: #000;
  --black-color-main: #010B13;
  --theme-text-color: white;
  --txt-clr-one: rgb(155, 150, 150);
  --theme-color-one: #2a3a5f;
  --theme-color-two: #010b13;
  --poppins-font: "Poppins", sans-serif;
  --bebas-fonts: "Bebas Neue", sans-serif;
  --blur-background-color: rgba(1, 6, 15, 0.5);
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: black;
  color: var(--theme-text-color);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins-font);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
  z-index: 1001;
}

::-webkit-scrollbar-track {
  z-index: 1001;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  z-index: 1001;
  background: white;
}

section {
  scroll-margin-top: 120px;
}

.popup {
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  padding: 30px;
  background-color: black;
  color: white;
  font-size: 2rem;
  border: 2px solid var(--txt-clr-one);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
}

.popup.active {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.navbar {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 80px;
  background-color: transparent;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}

.navbar.scrolled {
  background-color: black;
}

#toggle-btn {
  width: 25px;
  display: none;
}

#xmark {
  display: none;
  width: 25px;
}

.logo a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.5rem;
}

.menu {
  display: flex;
  gap: 40px;
  list-style-type: none;
  margin-right: 80px;
}

.menu li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease;
}

/* Universal Section Heading */
.section-heading {
  font-family: var(--bebas-fonts);
  font-size: 3.1rem;
  letter-spacing: 4px;
  margin: 0 0 2rem 0;
  user-select: none;
}

/* HOME SECTION */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 4rem;
  text-align: left;
}

#home h1 {
  padding: 0 6rem;
  color: white;
  font-size: 4.9rem;
  font-family: var(--bebas-fonts);
  letter-spacing: 2px;
  user-select: none;
  transform: translateY(-3rem);
}

/* ABOUT SECTION */
#about {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 0 20px;
}

.about-left {
  width: 40%;
}

.about-right {
  width: 50%;
}

.about-heading {
  margin: 0;
}

.about-right-txt {
  margin: 0;
  letter-spacing: 0.5px;
  color: #ebe5e5;
  font-weight: 400;
  font-family: var(--poppins-font);
  user-select: none;
  line-height: 22px;
}

/* SKILLS SECTION */
#skills {
  width: 100%;
  text-align: left;
  height: fit-content;
  margin: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-item-container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0 30px;
  margin-bottom: 3rem;
}

.skill-item {
  margin: 5px;
  color: white;
  padding: 40px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  background-color: rgba(37, 37, 37, 0.267);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  border: 2px solid transparent;
  transition: 0.3s ease all;
}

.skill-item:hover {
  border: 2px solid white;
}

.skill-item img {
  width: 30%;
}

/* PROJECTS SECTION */
#projects {
  width: 100%;
  height: fit-content;
  padding-bottom: 3rem;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 80%;
  margin: 0 auto;
}

.project-item {
  margin: 10px;
  user-select: none;
  max-height: 199px;
  cursor: pointer;
  transition: 0.3s ease;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-item img {
  width: 100%;
  height: 100%;
}

/* CONTACT SECTION */
#contact {
  width: 100%;
  min-height: fit-content;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  user-select: none;
}

.social-link {
  width: fit-content;
  padding: 7px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 2px solid var(--txt-clr-one);
  margin: 10px;
  transition: 0.2s ease;
}

.social-link img {
  width: 40px;
}

.social-link:hover {
  border: 2px solid white;
  transform: translateY(-3px);
}

/* FOOTER SECTION */
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid rgb(17, 17, 17);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

footer p {
  margin: 0;
  font-size: 16px;
  color: rgb(104, 102, 102);
}

/* Media Queries */
@media (max-width: 1000px) {
  body,html{
    overflow-x: hidden;
  }
  #home h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 880px) {
  .navbar {
    padding: 0 15px;
  }

  .menu {
    margin-right: 30px;
    gap: 25px;
  }

  .skill-item img {
    width: 20%;
  }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .menu {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blur-background-color);
    backdrop-filter: blur(10px);
    margin: 0;
    gap: 30px;
    transition: 0.3s ease-in-out;
  }

  .menu li a {
    padding: 0;
  }

  .menu.active {
    right: 0;
  }

  #toggle-btn {
    display: block;
    margin-right: 30px;
  }

  #xmark {
    display: block;
    position: absolute;
    top: 6%;
    right: 8%;
  }

  #home .home-txt {
    padding: 0 2rem;
    font-size: 3.7rem;
  }

  #about-content {
    flex-direction: column;
  }

  .about-right {
    width: 100%;
  }

  .about-left {
    order: 1;
    width: 80%;
  }

  .section-heading {
    font-size: 2.9rem;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  footer p {
    font-size: 14px;
  }

  .skill-item:hover {
    border: 2px solid transparent;
  }
}

@media (max-width: 480px) {
  #home .home-txt {
    padding: 0 20px;
    font-size: 3rem;
    margin: 0;
  }

  .section-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .about-right-txt {
    font-size: 15px;
    font-weight: 300;
  }
}

@media (max-width: 400px) {
  #home .home-txt {
    font-size: 2.5rem;
  }
}
