:root {
    --black-color-one: #000;
    --black-color-two: #111;
    --black-color-main: #010B13;
    --light-yellow: #F9F871;
    --dark-blue: #3576f8;
    --theme-text-color: #e3ddc7;
    --theme-color-one: #2a3a5f;
    --theme-color-two: #010b13;
    --theme-color-three: #4d76a0;
    --lato-font: "Lato", sans-serif;
    --poppins-font: "Poppins", sans-serif;
    --roboto-fonts: "Roboto", sans-serif;
    --bebas-fonts:"Bebas Neue", sans-serif;
    --blur-background-color: rgba(1, 6, 15, 0.5);
    /* Semi-transparent black */
}

body,
html {
    width: 100%;
    height: 200vh;
    /* background-color: var(--black-color-main); */
    background-color: black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins-font);
    /* Set a default font family */
}

.yellow-text {
    color: var(--dark-blue);
}

.navbar {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    /* Apply padding equally on both sides */
    height: 80px;
    background-color: transparent;
    /* Set background color */
    z-index: 9999;
    position: fixed;
    /* Fixed position to stay at the top */
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 30px;
}

#toggle-btn {
    width: 25px;
    display: none;
}

#xmark {
    display: none;
    width: 25px;
}

.logo a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    /* Remove underline from logo */
    font-size: 1.5rem;
    /* Adjust font size */
}

.menu {
    display: flex;
    gap: 40px;
    list-style-type: none;
    /* Remove default list styles */
    margin-right: 80px;
    /* Margin for the last menu item */
}

.menu li a {
    color: white;
    text-decoration: none;
    /* Remove underline from menu links */
    padding: 10px;
    /* Add padding around menu items */
    transition: all 0.3s ease;
    /* Smooth transition effect */
}

/* HOME SECTION */

/* #home {
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
    margin-top: 80px;
    padding: 50px;
    gap: 20px;
}

/* .home-left {
     border: 2px solid green; 
     width: 50%;
     padding: auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
} 



.home-left h5,
h1,
h3 {
   
    color: var(--theme-text-color);
    font-weight: 500;
    margin: 0;
  
}

.home-left h5 {
    font-size: 25px;
}

.home-left h1 {
    font-size: 5rem;
    font-weight: 600;
    white-space: nowrap;
    line-height: 4.5rem;
}

.home-left h3 {
    font-size: 30px;
    margin: 10px 0;
}
 */



/* CSS */
/* .button-37 {
    background-color: transparent;
    border: 2px solid var(--dark-blue);
    border-radius: 4px;
    
    color: #fff;
    cursor: pointer;
   
    font-size: 16px;
    font-weight: 500;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.home-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-right .my-img {
    width: 60%;
    height: fit-content;
  
    padding: 5px;
    animation: myImgGlow 3s ease-in-out infinite;
}


.home-right .my-img img {
    object-fit: cover;
    width: 100%;

}
 */

 #home{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    margin-top: 40px;
    text-align: left;
    overflow: hidden;
    /* border: 2px solid green; */
    
}

#home h1{
    /* width: 80%; */
    /* height: 100%; */
    /* border: 2px solid red; */
    padding: 0 6rem;
    /* color:var(--theme-text-color); */
    color: white;
    font-size: 5rem;
    font-family: var(--bebas-fonts);
    letter-spacing: 1.5px;
    /* transform: translateY(-2rem); */
}





/* HOME SECTION */

@media (max-width: 880px) {
    .navbar {
        padding: 0 15px;
    }

    .menu {
        margin-right: 30px;
        gap: 25px;
    }
}

@media (max-width: 768px) {
    .menu {
        position: absolute;
        right: -102%;
        top: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--blur-background-color);
        /* Apply semi-transparent background color */
        backdrop-filter: blur(10px);
        /* Apply blur effect */
        margin: 0;
        gap: 30px;
        transition: 0.3s ease-in-out;
    }

    .menu li a {
        padding: 0;
    }

    .menu.active {
        right: 0;
    }

    #toggle-btn {
        display: block;
        margin-right: 30px;
    }

    #xmark {
        display: block;
        position: absolute;
        top: 6%;
        right: 8%;
    }


    /* HOME SECTION */

    #home h1{
        padding: 0 2rem;
        font-size: 3.7rem;
        /* white-space: nowrap; */
    }
 

    /* HOME SECTION */
}

@media (max-width:480px){
    #home h1 {
        padding: 0 20px;
        font-size: 3rem;
    }
}